<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png"  width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction

Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01" target="_blank">Spacex DataSet</a>

### Store the dataset in database table

**it is highly recommended to manually load the table using the database console LOAD tool in DB2**.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload.png">

Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the  dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new table as follows:

**SPACEXDATASET**

**Follow these steps while using old DB2 UI which is having Open Console Screen**

**Note:While loading Spacex dataset, ensure that detect datatypes is disabled. Later click on the pencil icon(edit option).**

1.  Change the Date Format by manually typing DD-MM-YYYY and timestamp format as DD-MM-YYYY HH\:MM:SS

2.  Change the PAYLOAD_MASS\_\_KG\_  datatype  to INTEGER.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload2.png">

**Changes to be considered when having DB2 instance with the new UI having Go to UI screen**

*   Refer to this insruction in this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sign%20up%20for%20IBM%20Cloud%20-%20Create%20Db2%20service%20instance%20-%20Get%20started%20with%20the%20Db2%20console/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">link</a> for viewing  the new  Go to UI screen.

*   Later click on **Data link(below SQL)**  in the Go to UI screen  and click on **Load Data** tab.

*   Later browse for the downloaded spacex file.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/browsefile.png" width="800"/>

*   Once done select the schema andload the file.

 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload3.png" width="800"/>

In [2]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa
!pip install ipython-sql

Requirement already satisfied: sqlalchemy==1.3.9 in c:\anaconda\lib\site-packages (1.3.9)
Requirement already satisfied: ibm_db_sa in c:\anaconda\lib\site-packages (0.3.7)
Requirement already satisfied: ibm-db>=2.0.0 in c:\anaconda\lib\site-packages (from ibm_db_sa) (3.0.4)
Requirement already satisfied: sqlalchemy>=0.7.3 in c:\anaconda\lib\site-packages (from ibm_db_sa) (1.3.9)
Requirement already satisfied: ipython-sql in c:\anaconda\lib\site-packages (0.4.0)
Requirement already satisfied: ipython>=1.0 in c:\anaconda\lib\site-packages (from ipython-sql) (7.12.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\anaconda\lib\site-packages (from ipython-sql) (1.3.9)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\anaconda\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlparse in c:\anaconda\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: six in c:\anaconda\lib\site-packages (from ipython-sql) (1.14.0)
Requirement already satisfied: prettytable<1 in c:\anaconda\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: pickleshare in c:\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: decorator in c:\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (4.4.1)
Requirement already satisfied: traitlets>=4.2 in c:\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (4.3.3)
Requirement already satisfied: backcall in c:\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.0)
Requirement already satisfied: pygments in c:\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (2.5.2)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.3)
Requirement already satisfied: setuptools>=18.5 in c:\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (45.2.0.post20200210)
Requirement already satisfied: jedi>=0.10 in c:\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (0.14.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\anaconda\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.3)
Requirement already satisfied: parso>=0.5.0 in c:\anaconda\lib\site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.5.2)
Requirement already satisfied: wcwidth in c:\anaconda\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.1.8)

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [3]:
 %reload_ext sql

**DB2 magic in case of old UI service credentials.**

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance before. From the **uri** field of your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_edX/images/URI.jpg">

in the following format

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name**

**DB2 magic in case of new UI service credentials.**

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/servicecredentials.png" width=600>  

*   Use the following format.

*   Add security=SSL at the end

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name?security=SSL**

In [4]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [5]:
%sql ibm_db_sa://********:********@**************:*********/Bludb?security=SSL

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [6]:
%sql select distinct(launch_site) from mission

 * ibm_db_sa://rkg69379:***@8e359033-a1c9-4643-82ef-8ac06f5107eb.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30120/Bludb
Done.

[('CCAFS LC-40',), ('CCAFS SLC-40',), ('KSC LC-39A',), ('VAFB SLC-4E',)]

### Task 2

##### Display 5 records where launch sites begin with the string 'CCA'

In [7]:
%sql select launch_site \
    from mission\
    where launch_site like 'CCA%'\
    fetch first 5 rows only

 * ibm_db_sa://rkg69379:***@8e359033-a1c9-4643-82ef-8ac06f5107eb.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30120/Bludb
Done.

[('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',)]

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [8]:
%sql select booster_version, sum(payload_mass__kg_) as TotalP\
    from mission\
    where customer = 'NASA (CRS)' \
    group by booster_version\
    order by sum(payload_mass__kg_) desc

 * ibm_db_sa://rkg69379:***@8e359033-a1c9-4643-82ef-8ac06f5107eb.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30120/Bludb
Done.

[('F9 B4 B1039.1', 3310),
 ('F9 FT B1021.1', 3136),
 ('F9 B5 B1058.4', 2972),
 ('F9 FT B1035.1', 2708),
 ('F9 B4 B1045.2', 2697),
 ('F9 B4  B1039.2', 2647),
 ('F9 B5B1050', 2500),
 ('F9 B5B1056.1', 2495),
 ('F9 FT B1031.1', 2490),
 ('F9 v1.1 B1012', 2395),
 ('F9 v1.1', 2296),
 ('F9 B5 B1056.2', 2268),
 ('F9 FT B1025.1', 2257),
 ('F9 v1.1 B1010', 2216),
 ('F9 FT  B1035.2', 2205),
 ('F9 B5 B1059.2', 1977),
 ('F9 v1.1 B1018', 1952),
 ('F9 v1.1 B1015', 1898),
 ('F9 v1.0  B0007', 677),
 ('F9 v1.0  B0006', 500)]

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [9]:
%sql select booster_version , avg(payload_mass__kg_) as TotalBP\
    from mission\
    where booster_version like 'F9 v1%'\
    group by booster_version\
    order by avg(payload_mass__kg_) desc

 * ibm_db_sa://rkg69379:***@8e359033-a1c9-4643-82ef-8ac06f5107eb.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30120/Bludb
Done.

[('F9 v1.1 B1016', 4707),
 ('F9 v1.1 B1011', 4428),
 ('F9 v1.1 B1014', 4159),
 ('F9 v1.1', 2928),
 ('F9 v1.1 B1012', 2395),
 ('F9 v1.1 B1010', 2216),
 ('F9 v1.1 B1018', 1952),
 ('F9 v1.1 B1015', 1898),
 ('F9 v1.0  B0007', 677),
 ('F9 v1.1 B1013', 570),
 ('F9 v1.1 B1017', 553),
 ('F9 v1.0  B0005', 525),
 ('F9 v1.0  B0006', 500),
 ('F9 v1.1  B1003', 500),
 ('F9 v1.0  B0003', 0),
 ('F9 v1.0  B0004', 0)]

### Task 5

##### List the date when the first successful landing outcome in ground pad was acheived.

*Hint:Use min function*

In [10]:
%sql select date(DATE) as date , landing__outcome\
    from mission\
    where landing__outcome like 'Success%' fetch first 1 rows only

 * ibm_db_sa://rkg69379:***@8e359033-a1c9-4643-82ef-8ac06f5107eb.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30120/Bludb
Done.

[(datetime.date(1, 1, 22), 'Success (ground pad)')]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [11]:
%sql select booster_version, landing__Outcome, payload_mass__kg_ \
    from mission where landing__outcome = 'Success (drone ship)' and payLoad_mass__kg_ between 4000  and 6000

 * ibm_db_sa://rkg69379:***@8e359033-a1c9-4643-82ef-8ac06f5107eb.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30120/Bludb
Done.

[('F9 FT B1022', 'Success (drone ship)', 4696),
 ('F9 FT B1026', 'Success (drone ship)', 4600),
 ('F9 FT  B1021.2', 'Success (drone ship)', 5300),
 ('F9 FT  B1031.2', 'Success (drone ship)', 5200)]

### Task 7

##### List the total number of successful and failure mission outcomes

In [12]:
%sql select mission_outcome, count(mission_outcome) as count\
    from mission \
    group by mission_outcome

 * ibm_db_sa://rkg69379:***@8e359033-a1c9-4643-82ef-8ac06f5107eb.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30120/Bludb
Done.

[('Failure (in flight)', 1),
 ('Success', 99),
 ('Success (payload status unclear)', 1)]

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [13]:
%sql select booster_version, max(payload_mass__kg_)\
    from mission\
    group by booster_version\
    order by max(payload_mass__kg_) desc

 * ibm_db_sa://rkg69379:***@8e359033-a1c9-4643-82ef-8ac06f5107eb.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30120/Bludb
Done.

[('F9 B5 B1048.4', 15600),
 ('F9 B5 B1048.5', 15600),
 ('F9 B5 B1049.4', 15600),
 ('F9 B5 B1049.5', 15600),
 ('F9 B5 B1049.7', 15600),
 ('F9 B5 B1051.3', 15600),
 ('F9 B5 B1051.4', 15600),
 ('F9 B5 B1051.6', 15600),
 ('F9 B5 B1056.4', 15600),
 ('F9 B5 B1058.3', 15600),
 ('F9 B5 B1060.2', 15600),
 ('F9 B5 B1060.3', 15600),
 ('F9 B5 B1049.6', 15440),
 ('F9 B5 B1059.3', 15410),
 ('F9 B5 B1051.5', 14932),
 ('F9 B5 B1049.3', 13620),
 ('F9 B5B1058.1', 12530),
 ('F9 B5B1061.1', 12500),
 ('F9 B5B1051.1', 12055),
 ('F9 B5 B1046.4', 12050),
 ('F9 B4  B1041.2', 9600),
 ('F9 B4 B1041.1', 9600),
 ('F9 B5 B1049.2', 9600),
 ('F9 B5B1048.1', 9600),
 ('F9 FT  B1036.2', 9600),
 ('F9 FT B1029.1', 9600),
 ('F9 FT B1036.1', 9600),
 ('F9 B5B1047.1', 7075),
 ('F9 B5B1049.1', 7060),
 ('F9 B5 B1056.3', 6956),
 ('F9 FT B1037', 6761),
 ('F9 B5 B1047.3', 6500),
 ('F9 B4  B1043.2', 6460),
 ('F9 B4 B1044', 6092),
 ('F9 FT B1034', 6070),
 ('F9 B5 B1046.2', 5800),
 ('F9 FT B1030', 5600),
 ('F9 B5 B1058.2', 5500),
 ('F9 B4  B1040.2', 5384),
 ('F9 B5 B1047.2', 5300),
 ('F9 FT  B1021.2', 5300),
 ('F9 FT B1032.1', 5300),
 ('F9 FT B1020', 5271),
 ('F9 FT  B1031.2', 5200),
 ('F9 B4 B1043.1', 5000),
 ('F9 B4 B1040.1', 4990),
 ('F9 B5 B1048.3', 4850),
 ('F9 v1.1 B1016', 4707),
 ('F9 FT B1022', 4696),
 ('F9 FT B1026', 4600),
 ('F9 v1.1', 4535),
 ('F9 v1.1 B1011', 4428),
 ('F9 B5B1054', 4400),
 ('F9 B5B1060.1', 4311),
 ('F9 B5B1062.1', 4311),
 ('F9 FT  B1032.2', 4230),
 ('F9 B5 B1051.2', 4200),
 ('F9 v1.1 B1014', 4159),
 ('F9 B5 B1046.3', 4000),
 ('F9 FT  B1029.2', 3669),
 ('F9 B5  B1046.1', 3600),
 ('F9 FT B1024', 3600),
 ('F9 B4 B1042.1', 3500),
 ('F9 B4 B1039.1', 3310),
 ('F9 FT B1021.1', 3136),
 ('F9 B5 B1059.4', 3130),
 ('F9 FT B1023.1', 3100),
 ('F9 B5 B1048.2', 3000),
 ('F9 B5 B1058.4', 2972),
 ('F9 FT B1035.1', 2708),
 ('F9 B4 B1045.2', 2697),
 ('F9 B4  B1039.2', 2647),
 ('F9 B5B1059.1', 2617),
 ('F9 B5B1050', 2500),
 ('F9 B5B1056.1', 2495),
 ('F9 FT B1031.1', 2490),
 ('F9 v1.1 B1012', 2395),
 ('F9 B5 B1056.2', 2268),
 ('F9 FT B1025.1', 2257),
 ('F9 v1.1 B1010', 2216),
 ('F9 FT  B1035.2', 2205),
 ('F9 FT  B1038.2', 2150),
 ('F9 FT B1019', 2034),
 ('F9 B5 B1059.2', 1977),
 ('F9 v1.1 B1018', 1952),
 ('F9 v1.1 B1015', 1898),
 ('F9 B5B1063.1', 1192),
 ('F9 v1.0  B0007', 677),
 ('F9 v1.1 B1013', 570),
 ('F9 v1.1 B1017', 553),
 ('F9 v1.0  B0005', 525),
 ('F9 v1.0  B0006', 500),
 ('F9 v1.1  B1003', 500),
 ('F9 FT B1038.1', 475),
 ('F9 B4 B1045.1', 362),
 ('F9 v1.0  B0003', 0),
 ('F9 v1.0  B0004', 0)]

In [14]:
%sql select * from mission fetch first 5 rows only

 * ibm_db_sa://rkg69379:***@8e359033-a1c9-4643-82ef-8ac06f5107eb.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30120/Bludb
Done.

[(datetime.date(1, 1, 4), datetime.time(18, 45), 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 (datetime.date(1, 1, 8), datetime.time(15, 43), 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 (datetime.date(1, 1, 22), datetime.time(7, 44), 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 (datetime.date(1, 1, 8), datetime.time(0, 35), 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 (datetime.date(1, 1, 1), datetime.time(15, 10), 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 9

##### List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [15]:
%sql select day(date) booster_version, landing__outcome, launch_site\
    from mission\
    where landing__outcome like 'Failure (drone%)' and day(date) = 15

 * ibm_db_sa://rkg69379:***@8e359033-a1c9-4643-82ef-8ac06f5107eb.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30120/Bludb
Done.

[(15, 'Failure (drone ship)', 'CCAFS LC-40')]

### Task 10

##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [16]:
%sql select landing__outcome, count(landing__outcome) as Count\
    from mission\
    where day(date) between 15 and 20\
    group by landing__outcome\
    order by count(landing__outcome) desc

 * ibm_db_sa://rkg69379:***@8e359033-a1c9-4643-82ef-8ac06f5107eb.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30120/Bludb
Done.

[('Success', 6),
 ('No attempt', 3),
 ('Success (ground pad)', 3),
 ('Failure', 2),
 ('Failure (drone ship)', 2),
 ('Controlled (ocean)', 1),
 ('Success (drone ship)', 1)]

### Reference Links

*   <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*   <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description        |
| ---------- | ------- | ------------- | ------------------------- |
| 2021-08-24 | 0.3     | Lakshmi Holla | Added library update      |
| 2021-07-09 | 0.2     | Lakshmi Holla | Changes made in magic sql |
| 2021-05-20 | 0.1     | Lakshmi Holla | Created Initial Version   |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>